<section class="about container">
  <h1 class="text-center mb-5">About</h1>
  <p>
    ipsa, corrupti at, ut libero incidunt facilis aut deserunt velit illo!
  </p>
  <p>
    loram  ipsa, corrupti at, ut libero incidunt facilis aut deserunt velit illo!
  </p>

  <p>
     loream     loram  ipsa, corrupti at, ut libero incidunt facilis aut deserunt velit illo!

  </p>

<div class="flow text-center">
   <h4>Flow Us </h4>
   <a href="#">Facebook</a>
   <a href="#">Youtube</a>
   <a href="#">Instagram</a>
   <a href="#">Twitter</a>
</div>

</section>
